<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>测试thymeleaf</title>
</head>
<body>
        <ul>
            <li>编码,密码,年龄</li>
            <li th:each="stu : ${stuList}">
                <span th:text="${stu.code}"></span>
                <span th:text="${stu.pass}"></span>
                <span th:text="${stu.age}"></span>
                <span th:text="${stu.likeColor}"></span>
            </li>
        </ul>

        <hr>

        <ul>
            <li >下标--编码--密码--年龄</li>
            <li th:each="stu,stat : ${stuList}">
                <span th:text="${stat.index}"></span>--
                <span th:text="${stu.code}"></span>--
                <span th:text="${stu.pass}"></span>--
                <span th:text="${stu.age}"></span>
                <span th:text="${stat.count}"></span>
                 .....
                <span th:text="${stat.size}"></span>......
                <span th:text="${stat.current}"></span>.......
                <span th:text="${stat.even}"></span>.....
                <span th:text="${stat.odd}"></span>.....
                <span th:if="${stu.age>60}">可以退休</span>
                <span th:unless="${stu.age>60}">不能退休</span>
                <span th:if="${stu.age-19}">不能退休</span>
                <!--switch 选择-->
                <span th:switch="${stu.code}">
                <span th:case="'001'">1号员工，骨灰级</span>
                <span th:case="'002'">2号员工，元老级</span>
                <span th:case="'003'">3号员工，老员工</span>
                <span th:case="'004'">4号员工，新员工</span>
                <span th:case="*">临时工</span>
                </span>
                    <hr>
                </li>
        </ul>
        <hr>




        <!--        count，元素的个数，从1开始-->
<!--        size，总元素个数-->
<!--        current，当前遍历到的元素-->
<!--        even/odd，返回是否为奇偶，boolean值-->
<!--        first/last，返回是否为第一或最后，boolean值-->


</body>

<script th:inline="javascript">

    const stuList =/*[[${stuList}]]*/;
    const stu =/*[[${stuList[0]}]]*/;
    const age =/*[[${stuList[0].age}]]*/;

    console.log("集合"+stuList);
    console.log("数据"+stu);
    console.log("年纪"+age);

    stuList.forEach(stu =>{
        console.log(stu.code+"--"+stu.pass);
    })





</script>
</html>